body {
  background-color: black;
  text-align: center;
  font-family: verdana;
}

.header--main {
  text-align: center;
  font family: verdana;
  font-size: 50px;
  color: white;

}

.link--cta {
  color: aquamarine;
  font-size: 50px;

}
